.App {
    text-align: center;
}

body {
    background-image: radial-gradient( circle 609.6px at 21.5% 78.8%, rgba(37, 99, 219, 1) 0%, rgba(233, 45, 181, 1) 89.9%);
}

.card {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 1% auto 10px;
    background-image: linear-gradient( 109.6deg, rgba(232, 252, 252, 1) 11.2%, rgba(252, 215, 134, 1) 56.2%, rgba(247, 124, 124, 1) 100.2%);
}

.title {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
}

.serach-form {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form input {
    width: 80%;
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.search-form button {
    width: 10%;
    height: 50px;
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 10px !important;
    font-weight: 800;
    color: #fff;
    font-size: 18px;
    background-image: radial-gradient( circle 939px at 0.7% 2.4%, rgba(116, 106, 255, 1) 0%, rgba(221, 221, 221, 1) 100.2%);
}

.search-form button:hover {
    background-image: linear-gradient( 171.8deg, rgba(5, 111, 146, 1) 13.5%, rgba(6, 57, 84, 1) 78.6%);
    cursor: pointer;
    transition: 1s ease-out;
}

.main-container {
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.main-container h4 {
    font-size: 25px;
    font-weight: 700;
}

.weather-icon {
    font-size: 30px;
    font-weight: 900;
    animation: iconanimation 3s infinite;
}

@keyframes iconanimation {
    form {
        transform: scale(0.25, 0.25);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@media only screen and (max-width: 600px) {
    .search-form input {
        width: 60%;
    }
    .search-form button {
        width: 32%;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .search-form input {
        width: 60%;
    }
    .search-form button {
        width: 18%;
    }
}

.temprature h1 {
    font-size: 30px;
    font-weight: 900;
}

.location h3 i {
    margin-right: 10px;
    animation: locationanime 2s infinite;
}

@keyframes locationanime {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}